# ==========================================
# 1. DATA & HEAVY BINARIES (Zenodo/OneDrive)
# ==========================================
data/raw/
data/processed/
*.nc
*.parquet
*.xlsx
*.csv
*.rds
*RData
RDataTmp/

# ==========================================
# 2. PYTHON & IDE ENVIRONMENTS
# ==========================================
__pycache__/
*.pyc
.spyderproject/
.spyproject/
.ipynb_checkpoints/

# ==========================================
# 3. R ENVIRONMENTS
# ==========================================
.Rproj.user/
.Rhistory
.Rapp.history
.Ruserdata
*.Rproj
.RDataTmp

# ==========================================
# 4. OUTPUTS (Filtro selectivo)
# ==========================================
figures/exploratory/
tables/