# ==========================================
# 1. DATA & HEAVY BINARIES
# ==========================================
data/processed/
*.nc
*.parquet
*.xlsx
*.rds
*.RData


# ==========================================
# 2. PYTHON & IDE ENVIRONMENTS
# ==========================================
__pycache__/
*.pyc
.spyderproject/
.spyproject/
.ipynb_checkpoints/

# ==========================================
# 3. R ENVIRONMENTS
# ==========================================
.Rproj.user/
.Rhistory
.Rapp.history
.Ruserdata
.RDataTmp*
renv/library/
renv/staging/

# ==========================================
# 4. OUTPUTS (Figuras y Tablas excluidas)
# ==========================================
figures/
tables/